[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Vendor/json"]
	path = Vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Vendor/loguru"]
	path = Vendor/loguru
	url = https://github.com/emilk/loguru.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/lua"]
	path = Vendor/lua
	url = https://github.com/lua/lua.git
[submodule "Vendor/sol2"]
	path = Vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Tara/lua/inspect"]
	path = Tara/lua/inspect
	url = https://github.com/kikito/inspect.lua.git
